
#app button,select,label,option{
    margin: 5px;
    font-size: 0.7rem;
}
#app button{
    padding: 5px 10px;      
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
}
#app button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
#app button:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.tarjeta img{
    width: 300px;
    height: auto;
    object-fit: cover;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.tarjeta{
    width: 250px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    gap: 5px;
    
}
.tarjeta img{
    width: 100%;
    border-radius: 5px;
}
.tarjeta h5{
    font-size: 1.5rem;
}